section {
  height: 100vh;
}

.flex-container {
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(210, 105, 30);
  margin-right: 10px;
}
